body{
    background-color: grey;
    /* display: flex;
    align-items: center;
    justify-content: center; */
}

.title{
    color: green;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn{
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-red{
    background-color: brown;
    color: azure;
}

.in-put{
    display: flex;
    align-items: center;
    justify-content: center;
}
.in-put .input{
    margin: 2px;
    border: solid 2px black;
}

#btn-container{
    display: flex;
    align-items: center;
    justify-content: center;
}
